@import "../settings/_fonts.scss";
@import "../settings/_functions.scss";

body {
  font-family: $font-base;
}

.wrapper {
  max-width: rem(1900px);
  margin: 0 auto;
  padding: 0;
}

.ornament {
  width: rem(253px);
  height: rem(33px);
  background-image: url("/src/assets/Decoration.svg");
  margin: 0 auto;
}
