@use "../settings/_fonts.scss";
@use "../settings/_functions.scss";
@use "../settings/_colors.scss";

body {
  font-family: fonts.$font-base;
}

.wrapper {
  max-width: functions.rem(1900px);
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.ornament {
  width: functions.rem(253px);
  height: functions.rem(33px);
  background-image: url("/src/assets/Decoration.svg");
  margin: 0 auto;
}
h3 {
  text-align: center;
  font-size: functions.rem(38px);
  font-weight: normal;
  color: colors.$primary-font-color;
  line-height: functions.rem(55px);
  width: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 910px) {
  .wrapper {
    width: 100%;
    //max-width: 576px;
    //margin: 0 15px;
    //padding: 0 15px;
  }
}
