@use "../settings/functions.scss";
@use "../settings/colors.scss";

.big-btn {
  background-color: transparent;
  font-size: functions.rem(36px);
  font-weight: lighter;
  cursor: pointer;
  padding: functions.rem(18px);
  width: functions.rem(310px);
  height: functions.rem(120px);
  border: 0.75px solid colors.$primary-font-color;
  white-space: pre-line;
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.1);
  }
}
