@import "../settings/_fonts.scss";
@import "../settings/_colors.scss";
@import "../settings/_functions.scss";

%pseudo-element {
  position: absolute;
  content: "";
  background-color: $primary-font-color;
  width: 17px;
  height: 1px;
  top: 50%;
}

%option-arrow {
  width: 57px;
  height: 26px;
  position: absolute;
  top: 12px;
  right: 16px;
}

.form-bags-select {
  font-size: 24px;
  font-weight: lighter;
  display: flex;
  align-items: center;
  .select-label {
    margin-right: 26px;
  }
}
.select {
  width: 300px;
  height: 49px;
  font-weight: lighter;
  border: 0.75px solid $primary-font-color;
  position: relative;
  cursor: pointer;
  .option-default {
    margin: 0;
    padding: 8px 40px;
    &:before {
      @extend %pseudo-element;
      left: 18px;
    }
    &:after {
      @extend %pseudo-element;
      left: 128px;
    }
  }
  .option-arrow_down {
    @extend %option-arrow;
    background-image: url("/src/assets/Icon-Arrow-Down.svg");
  }
  .option-arrow_up {
    @extend %option-arrow;
    background-image: url("/src/assets/Icon-Arrow-Up.svg");
  }
}
.option-default-edit {
  margin: 0;
  padding: 9px 109px;
  font-weight: 600;
  &:before {
    @extend %pseudo-element;
    left: 48px;
  }
  &:after {
    @extend %pseudo-element;
    left: 168px;
  }
}

.option-window-s2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.75px solid $primary-font-color;
  width: 85px;
  height: 185px;
  padding: 6px;
  gap: 10px;
  position: absolute;
  top: 64px;
  right: 0;
  div {
    text-align: center;
    width: 100%;
    border: 0.75px solid transparent;
    &:hover {
      scale: 1.1;
      font-weight: 600;
      border-left: 2px solid $primary-font-color;
      border-right: 2px solid $primary-font-color;
    }
  }
}

.hidden {
  display: none;
}
