@import "../settings/_fonts.scss";
@import "../settings/_colors.scss";
@import "../settings/_functions.scss";

.form-thank {
  width: 690px;
  font-size: 40px;
  font-weight: lighter;
  text-align: center;
  color: $primary-font-color;
  padding-left: 294px;
  padding-top: 300px;
}
