@use "../settings/_fonts.scss";
@use "../settings/_colors.scss";
@use "../settings/_functions.scss";

.form-data {
  width: 392px;
  color: colors.$primary-font-color;

  label {
    font-size: 24px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  input[type="text"] {
    background: none;
    border: 0.75px solid colors.$primary-font-color;
    width: 256px;
    height: 40px;
    outline: none;
    cursor: pointer;
  }
}
.form-address-and-data {
  margin-left: 30px;
  display: flex;
  gap: 152px;
}
.form-data-textarea {
  height: 120px;
  background: none;
  border: 0.75px solid colors.$primary-font-color;
  width: 256px;
  outline: none;
  cursor: pointer;
}
.form-section-title {
  font-weight: 600;
  font-size: 24px;
}

.error-form {
  color: red;
}

@media screen and (max-width: 1015px) {
  .form-address-and-data {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .mobile-box {
    height: 1200px;
  }
}
