@use "../settings/_fonts.scss";
@use "../settings/_colors.scss";
@use "../settings/_functions.scss";

.summary-header {
  font-size: functions.rem(36px);
  font-weight: 600;
  margin: 0;
  padding: 70px 0 45px 30px;
}
.form-data-summary {
  margin-left: 30px;
  margin-bottom: 10px;
}
.summary-data {
  font-size: 24px;
  font-weight: normal;
  img {
    width: 50px;
    height: 50px;
  }
  div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    p {
      margin: 0;
      padding-left: 19px;
    }
  }
}

.summary-table {
  margin-left: 30px;
  margin-top: 50px;
  th {
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    padding-bottom: 10px;
  }
  td {
    font-size: 24px;
    font-weight: lighter;
    padding: 15px 29px 15px 0;
  }
}
.gap-table {
  width: 405px;
}

@media screen and (max-width: 585px) {
  .mobile-box {
    height: 1300px;
  }
}
