@use "../settings/_fonts.scss";
@use "../settings/_colors.scss";
@use "../settings/_functions.scss";

.form-thank {
  font-size: 40px;
  font-weight: lighter;
  text-align: center;
  color: colors.$primary-font-color;
  padding-top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
