@use "../settings/functions.scss";
@use "../settings/colors.scss";

.three-columns {
  display: flex;
  flex-wrap: wrap;
  background-image: url("/src/assets/3 Columns Background.png");
  min-height: functions.rem(384px);
  height: 100%;

  align-items: center;
  div {
    width: functions.rem(334px);
    height: functions.rem(252px);
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    h4 {
      font-size: functions.rem(90px);
      font-weight: lighter;
      color: colors.$number-color;
      margin: 0;
    }
    h5 {
      font-size: functions.rem(18px);
      font-weight: normal;
      color: colors.$primary-font-color;
      margin-top: functions.rem(15px);
    }
    p {
      font-size: functions.rem(16px);
      font-weight: lighter;
      line-height: functions.rem(25px);
    }
  }
}

@media screen and (max-width: 900px) {
  .three-columns {
    display: flex;
    flex-direction: column;
    height: 100%;
    // div {
    //   margin: 30px;
    // }
  }
}
