@import "../settings/_fonts.scss";
@import "../settings/_colors.scss";
@import "../settings/_functions.scss";

%placeholder {
  font-size: 18px;
  line-height: 24px;
  color: $placeholder-font-color;
}

.contact {
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("/src/assets/Background-Contact-Form.jpg");
  background-size: cover;
  height: 1026px;
  width: 100%;
  margin-top: 80px;

  .form-section {
    width: 528px;
    float: right;
    margin-top: 130px;
    margin-right: 142px;
    form {
      margin-top: 50px;

      label {
        line-height: 32px;
        font-size: 16px;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        position: relative;
      }
      .textarea-box {
        margin-top: 40px;
        textarea {
          resize: none;
          outline: none;
          height: 97px;
          border: 1px solid transparent;
          border-bottom: 1px solid #707070;
          transition: all 0.3s ease-in-out;
          background: transparent;
          &::placeholder {
            @extend %placeholder;
          }
          &:focus {
            border: 1px solid #707070;
          }
        }
      }
      .form-name-box {
        display: flex;
        justify-content: space-between;
        input {
          outline: none;
          height: 35px;
          width: 256px;
          border: 1px solid transparent;
          border-bottom: 1px solid #707070;
          background: transparent;
          transition: all 0.3s ease-in-out;
          &::placeholder {
            @extend %placeholder;
          }
          &:focus {
            border: 1px solid #707070;
          }
        }
      }
      .submit-btn {
        margin-top: 20px;
        float: right;
        padding: 13px 52px;
        font-size: 18px;
        font-weight: lighter;
        background: transparent;
        border: 0.75px solid $primary-font-color;
        cursor: pointer;
      }
    }
  }
}
footer {
  div {
    margin-top: 330px;
  }

  clear: right;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .footer-icon {
    margin-right: 142px;
    img {
      margin-left: 20px;
    }
  }
}

.success {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #02b002;
  font-size: 14px;
  margin-top: 30px;
  font-weight: bold;
  line-height: 18px;
}

.contact-error {
  position: absolute;
  top: 70px;
  border-top: 2px solid #ff5757;
  margin: 0;
  padding: 0;
  color: #ff5757;
  font-size: 12px;
  font-weight: bold;
  width: 100%;
}
.textarea-error {
  top: 133px;
}
