@use "../settings/_fonts.scss";
@use "../settings/_colors.scss";
@use "../settings/_functions.scss";

.who-we-help {
  margin-top: functions.rem(70px);
  height: functions.rem(862px);
  max-width: functions.rem(1344px);
  width: 100%;
  color: colors.$primary-font-color;
  ul {
    margin: 0 30px;
  }
  .btn-section {
    display: flex;
    justify-content: space-evenly;
  }
  .info-about-text {
    max-width: functions.rem(640px);
    width: 100%;
    height: functions.rem(94px);
    margin: 0 auto;
    margin-top: functions.rem(70px);
    text-align: center;
    font-size: functions.rem(22px);
    line-height: functions.rem(30px);
  }
  .pages {
    display: flex;
    justify-content: center;
    gap: functions.rem(40px);
    margin-top: functions.rem(63px);
  }
}

@media screen and (max-width: 1069px) {
  .who-we-help {
    height: 100%;
  }
}
@media screen and (max-width: 855px) {
  .btn-section {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
  }
}
