@import "../settings/functions.scss";
@import "../settings/colors.scss";

.header-hero {
  width: rem(885px);
  height: rem(963px);
  background-image: url("/src/assets/Home-Hero-Image.jpg");
  background-position: right;
}

.header {
  display: flex;
  margin-top: rem(37px);
}
