@import "../settings/functions.scss";
@import "../settings/colors.scss";

.header-hero {
  max-width: rem(885px);
  width: 100%;
  height: rem(963px);
  background-image: url("/src/assets/Home-Hero-Image.jpg");
  background-position: right;
}

.header {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1023px) {
  .header {
    display: flex;
    justify-content: center;
  }
  .header-hero {
    display: none;
  }
}
