@import "../settings/functions.scss";
@import "../settings/colors.scss";

.about-us {
  height: rem(935px);
  display: flex;
  .left-section {
    max-width: rem(958px);
    width: 100%;
    background-color: $four-steps-bgc;
    &_box {
      margin: 0 auto;
      margin-top: rem(186px);
      max-width: rem(657px);
    }
    h3 {
      font-size: rem(38px);
      font-weight: normal;
      text-align: center;
      color: $primary-font-color;
    }
    p {
      width: 100%;
      font-size: rem(30px);
      font-weight: lighter;
      text-align: center;
      line-height: rem(54px);
      margin-top: rem(55px);
    }
    .signature {
      margin-top: rem(44px);
      float: right;
    }
  }
  .foto {
    background-image: url("/src/assets/People.jpg");
    width: rem(942px);
    height: rem(935px);
  }
}
@media screen and (max-width: 1143px) {
  .foto {
    display: none;
  }
  .left-section {
    width: 100%;
    margin: 0 auto;
  }
  .left-section_box {
    padding: 0 30px;
  }
}
