@import "../settings/_fonts.scss";
@import "../settings/_colors.scss";
@import "../settings/_functions.scss";

.who-we-help {
  margin-top: rem(70px);
  height: rem(862px);
  max-width: rem(1344px);
  color: $primary-font-color;
  .btn-section {
    display: flex;
    justify-content: center;
    gap: rem(110px);
  }
  .info-about-text {
    width: rem(640px);
    height: rem(94px);
    margin: 0 auto;
    margin-top: rem(70px);
    text-align: center;
    font-size: rem(22px);
    line-height: rem(30px);
  }
  .pages {
    display: flex;
    justify-content: center;
    gap: rem(40px);
    margin-top: rem(63px);
  }
}
