@import "../settings/functions.scss";
@import "../settings/colors.scss";

.three-columns {
  display: flex;
  background-image: url("/src/assets/3 Columns Background.png");
  height: rem(384px);

  align-items: center;
  div {
    width: rem(334px);
    height: rem(252px);
    text-align: center;
    margin: 0 auto;
    h4 {
      font-size: rem(90px);
      font-weight: lighter;
      color: $number-color;
      margin: 0;
    }
    h5 {
      font-size: rem(18px);
      font-weight: normal;
      color: $primary-font-color;
      margin-top: rem(15px);
    }
    p {
      font-size: rem(16px);
      font-weight: lighter;
      line-height: rem(25px);
    }
  }
}

@media screen and (max-width: 927px) {
  .three-columns {
    display: flex;
    flex-direction: column;
    height: 100%;
    div {
      margin: 30px;
    }
  }
}
