@use "../settings/_fonts.scss";
@use "../settings/_colors.scss";
@use "../settings/_functions.scss";

.item-to-show {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: functions.rem(66px);
  font-family: fonts.$font-alt;
  font-weight: 300;
  color: colors.$primary-font-color;
  opacity: 0.7;
  div {
    .who-name {
      font-size: functions.rem(26px);
      margin: 0;
      margin-bottom: 6px;
    }

    .who-purpose {
      font-size: functions.rem(18px);
      font-style: italic;
      line-height: functions.rem(22px);
      margin: 0;
    }
  }
  div {
    .who-staff {
      margin: 0;
      font-size: functions.rem(18px);
    }
  }
}

@media screen and (max-width: 1069px) {
  .item-to-show {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // padding: 0 40px;
    div {
      .who-staff {
        padding-top: 20px;
      }
    }
  }
}
