@use "../settings/_fonts.scss";
@use "../settings/_colors.scss";
@use "../settings/_functions.scss";

.logout {
  color: colors.$primary-font-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    margin-top: functions.rem(123px);
    text-align: center;
    font-size: functions.rem(40px);
    font-weight: normal;
  }
  button {
    margin-top: functions.rem(35px);
    font-size: functions.rem(18px);
    font-weight: lighter;
    padding: functions.rem(13px) functions.rem(17px);
    background: none;
    border: 0.75px solid colors.$primary-font-color;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      scale: 1.1;
    }
  }
}
