@import "../settings/functions.scss";
@import "../settings/colors.scss";

main {
  margin: 210px 130px 0 66px;
  .main-btns {
    font-size: rem(36px);
    font-weight: lighter;
    gap: rem(44px);
    display: flex;
    justify-content: center;
    margin-top: rem(65px);
  }
}

@media screen and (max-width: 1023px) {
  .main-btns {
    display: flex;
    flex-wrap: wrap;
  }
  main {
    margin: 100px 0 150px 0;
  }
}
