@import "../settings/functions.scss";
@import "../settings/colors.scss";

main {
  margin-top: rem(210px);
  margin-left: rem(66px);
  h1 {
    font-size: rem(38px);
    font-weight: normal;
    line-height: rem(55px);
    text-align: center;
  }

  .main-btns {
    font-size: rem(36px);
    font-weight: lighter;
    gap: rem(44px);
    display: flex;
    justify-content: center;
    margin-top: rem(65px);
  }
}
