@use "../settings/_fonts.scss";
@use "../settings/_colors.scss";
@use "../settings/_functions.scss";

.page-number {
  font-size: functions.rem(18px);
  border: 1px solid transparent;
  cursor: pointer;
  padding: functions.rem(13px) functions.rem(15px);
  line-height: functions.rem(24px);
  transition: all 0.3s ease-in-out;
  &:hover {
    border: 1px solid #707070;
  }
  &.active {
    border: 1px solid #707070;
  }
  &.hidden {
    display: none;
  }
}
