@import "../settings/_fonts.scss";
@import "../settings/_colors.scss";
@import "../settings/_functions.scss";

.page-number {
  font-size: rem(18px);
  border: 1px solid transparent;
  cursor: pointer;
  padding: rem(13px) rem(15px);
  line-height: rem(24px);
  transition: all 0.3s ease-in-out;
  &:hover {
    border: 1px solid #707070;
  }
  &.active {
    border: 1px solid #707070;
  }
  &.hidden {
    display: none;
  }
}
